/* @import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
} */



@import "tailwindcss";

@source "../**/*.blade.php";
@source "../**/*.js";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";



@plugin "daisyui/theme" {
  name: "mocha";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.031 120.757);
  --color-base-200: oklch(96% 0.067 122.328);
  --color-base-300: oklch(93% 0.127 124.321);
  --color-base-content: oklch(40% 0.101 131.063);
  --color-primary: oklch(87% 0.169 91.605);
  --color-primary-content: oklch(27% 0.077 45.635);
  --color-secondary: oklch(84% 0.143 164.978);
  --color-secondary-content: oklch(26% 0.051 172.552);
  --color-accent: oklch(82% 0.111 230.318);
  --color-accent-content: oklch(29% 0.066 243.157);
  --color-neutral: oklch(53% 0.157 131.589);
  --color-neutral-content: oklch(98% 0.031 120.757);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(60% 0.118 184.704);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}


@plugin "daisyui/theme" {
  name: "barbie";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(28% 0.109 3.907);
  --color-base-200: oklch(40% 0.153 2.432);
  --color-base-300: oklch(45% 0.187 3.815);
  --color-base-content: oklch(94% 0.028 342.258);
  --color-primary: oklch(59% 0.249 0.584);
  --color-primary-content: oklch(97% 0.014 343.198);
  --color-secondary: oklch(59% 0.145 163.225);
  --color-secondary-content: oklch(97% 0.021 166.113);
  --color-accent: oklch(59% 0.249 0.584);
  --color-accent-content: oklch(97% 0.014 343.198);
  --color-neutral: oklch(40% 0.153 2.432);
  --color-neutral-content: oklch(97% 0.014 343.198);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(65% 0.241 354.308);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}




@plugin "daisyui" {
    themes: light --default, dark --prefersdark,blood, caramellatte, barbie, mocha, dim, retro, cyberpunk, lofi, cupcake, dracula, business, valentine, halloween, garden, forest, aqua, black, luxury, night, winter, sunset, emerald, corporate, synthwave, lemonade;
}


#theme-dropdown {
    max-height: 320px; 
    overflow-y: auto;
}

#theme-dropdown input[type="radio"]:checked {
    background-color: hsl(var(--p));
    color: hsl(var(--pc));
}